.container {
background: rgb(224,240,255);
background: -moz-linear-gradient(-45deg,  rgba(224,240,255,1) 0%, rgba(172,207,239,1) 28%, rgba(185,217,249,1) 53%, rgba(195,222,251,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(224,240,255,1) 0%,rgba(172,207,239,1) 28%,rgba(185,217,249,1) 53%,rgba(195,222,251,1) 100%);
background: linear-gradient(135deg,  rgba(224,240,255,1) 0%,rgba(172,207,239,1) 28%,rgba(185,217,249,1) 53%,rgba(195,222,251,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f0ff', endColorstr='#c3defb',GradientType=1 );
width: 45%;
height: 45%;
border-radius: 9px;
box-shadow: 1px 4px 3px 5px #C1DEFB;


}
.calculator {
    border: 1px solid #696969;
   background-color: #D9E4F1;
border-radius: 2px;
display: table;
margin: auto;
height: 80px;
    width: 98%;



    
}

   .result{
background: rgb(214,225,239);
background: -moz-linear-gradient(top,  rgba(214,225,239,1) 14%, rgba(249,249,249,1) 69%);
background: -webkit-linear-gradient(top,  rgba(214,225,239,1) 14%,rgba(249,249,249,1) 69%);
background: linear-gradient(to bottom,  rgba(214,225,239,1) 14%,rgba(249,249,249,1) 69%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6e1ef', endColorstr='#f9f9f9',GradientType=0 );
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3fc', endColorstr='#e5e5e5',GradientType=0 );
        border-radius: 5px;
        text-align: right;
       border: 1px solid darkblue;
       width: 94%;
      font-size: 25px;
      margin: auto;
      font-weight: 600;
     
      
    }


.silverboard {
    border: 1px solid #4A708B;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    color: #00388D;
    font-weight: 700;
}

.nulite {
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: #D9E4F1;
    margin-right: 30px;
    width: 94%;
    text-align: center;
    color: #00388D;
    margin: auto;
        font-weight: 600;
    
    
   
}
.logo {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    
}
.exit-buttons {
    float: right;
}
.bukvite {
    background-color: #D9E4F1;
    margin: auto
    
}
.hex {
    border: 1px solid darkblue;
    width: 20%;
    padding: -5px ;
    border-radius: 5px;
    color: #00388D;
    font-weight: 700;


}
.qword {
       border: 1px solid darkblue;
    width: 30%;
    padding: -5px ;
     color: #00388D;
     font-weight: 700;
}
li {
    list-style: none;

}
 .bukvite {
     border: 0;
     width: 95%;
   
 }

.list {
    width: 93%;
    border: 1px solid silver;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,197,200,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,197,200,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(204,197,200,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccc5c8',GradientType=0 );
position: static;
height: 26px;
font-size: 20px;


}
.silvernumbers {
    color: #696969;
    font-weight: 500;
    
  
}
li {
    display: inline-block;
    position: relative;
    width: 50px;
    text-align: end
    
}

.purvite {
    border: 1px solid darkblue;
    border-radius: 5px;
    color: #00388D;
    text-align: center;
background: rgb(249,249,249);
background: -moz-linear-gradient(top,  rgba(249,249,249,1) 41%, rgba(214,225,239,1) 73%);
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 41%,rgba(214,225,239,1) 73%);
background: linear-gradient(to bottom,  rgba(249,249,249,1) 41%,rgba(214,225,239,1) 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d6e1ef',GradientType=0 );
font-weight: 700;
}

.vtorite {
    background-color: #B9C4CF;

}
.notext {
  
   border-radius: 5px;
    border: 1px solid darkblue;
}
.chisla {
    border: 1px solid darkblue;
    text-align: center;
    color: #00388D;
    background: rgb(247,251,255);
background: -moz-linear-gradient(top,  rgba(247,251,255,1) 27%, rgba(232,238,245,1) 47%, rgba(238,246,251,1) 67%);
background: -webkit-linear-gradient(top,  rgba(247,251,255,1) 27%,rgba(232,238,245,1) 47%,rgba(238,246,251,1) 67%);
background: linear-gradient(to bottom,  rgba(247,251,255,1) 27%,rgba(232,238,245,1) 47%,rgba(238,246,251,1) 67%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbff', endColorstr='#eef6fb',GradientType=0 );
border-radius: 5px;
font-weight: 700;
}
.ce {
    border: 1px solid orange;
    border-radius: 5px;
    text-align: center;
    background: rgb(254,238,223);
background: -moz-linear-gradient(top,  rgba(254,238,223,1) 45%, rgba(251,235,141,1) 67%);
background: -webkit-linear-gradient(top,  rgba(254,238,223,1) 45%,rgba(251,235,141,1) 67%);
background: linear-gradient(to bottom,  rgba(254,238,223,1) 45%,rgba(251,235,141,1) 67%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeedf', endColorstr='#fbeb8d',GradientType=0 );

}
.mcmr {
    text-align: center;
    border: 1px solid darkblue;
    border-radius: 5px;
    color: #00388D;
    font-weight: 700;
}
li::first-letter {
    text-decoration: underline
}
.options {
    margin-top: -3%;
    
}
td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
span {
    font-weight: 700;
}